@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 18;
}

.productContainer {
  margin: 10;
  padding: 25;
  border-width: 1;
  border-radius: 20;
  border-color: lightgray;
}

Image {
  width: 100%;
}

.h1 {
  font-size: 32;
  color: #fff;
}

.productPrice {
  font-size: 25;
  font-weight: bold;
}

ScrollView {
  background-color: black;
  color: #fff;
}

.top {
  height: 100vh;
  padding: 150px 0;
  background-size: cover;
}

.topText {
  margin: 30px 0;
}

.topDesc {
  font-size: 20;
  margin-bottom: 20px;
  text-align: center;
}

.top-button {
  border-radius: 5px;
  color: #ff56c9;
}

.wrap {
  width: 90%;
}

.title {
  width: 80%;
}

.about-cont {
  margin: 150px 0;
}

.aboutDesc {
  margin: 30px 0 70px 0;
  font-size: 24;
}

.orderNum {
  width: 50%;
}
